/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Container principal */
.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Vídeo de fundo */
.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

/* Texto principal */
.hero-text {
  text-align: center;
  z-index: 2;
  padding: 20px;
}

.hero-text .estatico h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.hero-text .estatico .text-yellow2 {
  color: #ffd700;
  font-size: 3rem;
}

.hero-text .dinamico span {
  font-size: 3.5rem;
  font-weight: bold;
  color: #ffd700;
  animation: fade-in 0.5s ease-in-out;
}

/* Animação do texto dinâmico */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 40px 20px;
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

.card {
  position: relative;
  width: 400px;
  height: 340px;
  border-radius: 12px;
 transition: transform 0.3s ease;
 
}

.card:hover {
  transform: translateY(-10px);
  
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 30px;
}

/* Mensagem sobre a imagem */
.card .message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background: #1E1E1E;
  padding: 10px 20px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;


  font-size: 20px;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  transition: .5s;
  
}

.card:hover .message {
  opacity: 1;
}

/* Botão */
.button-center {
  text-align: center;
  margin: 80px 0;

}

.button-center a {
  text-decoration: none;
}

/* Responsividade */

@keyframes flutuar {
  0% {
      top: 0;
  }

  100% {
      top: 30px;
  }
}


/* Tablets */
@media (max-width: 768px) {
  .hero-text .estatico h1 {
    font-size: 2rem;
  }

  .hero-text .dinamico span {
    font-size: 2.5rem;
  }

  .card {
    width: 220px;
    height: 300px;
  }
}

/* Smartphones */
@media (max-width: 480px) {
  .hero-text .estatico h1 {
    font-size: 1.5rem;
  }

  .hero-text .dinamico span {
    font-size: 2rem;
  }

  .card-container {
    flex-direction: column;
    gap: 15px;
  }

  .card {
    width: 90%;
    height: 260px;
  }
}
