/* Estilização geral */
header {
    background-color: #F7F2EF;
    padding: 10px 20px;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo e navegação */
.al-center {
    display: flex;
    align-items: center;
}

.d-flex {
    display: flex;
}

.jc-space-between {
    justify-content: space-between;
}

/* Links de navegação */
nav a {
    font-weight: 600;
    color: #1E1E1E;
    font-size: 18px;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #F5BB19;
}

/* Menu móvel */
.mobile-menu {
    display: none;
}

.mobile-menu button {
    font-size: 18px;
    cursor: pointer;
}

/* Navegação */
.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
    gap: 20px;
}

/* Responsividade para tablets */
@media (max-width: 1024px) {
    nav a {
        font-size: 16px;
        margin: 0 10px;
    }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .mobile-menu {
        display: block;
    }

    .nav {
        background-color: #1E1E1E;
        display: none;
        flex-direction: column;
        height: 100vh;
        padding: 20px;
        position: fixed;
        right: 0;
        top: 0;
        width: 100vw;
        z-index: 1000;
        box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.75);
    }

    .nav.open {
        display: flex;
    }

    .nav ul {
        flex-direction: column;
        width: 100%;
    }

    .nav ul li {
        width: 100%;
    }

    nav a {
        color: #F7F2EF;
        font-size: 18px;
        padding: 15px 0;
        text-align: center;
        border-bottom: 1px solid #333;
        width: 100%;
    }

    .close-btn {
        background: none;
        border: none;
        color: #F7F2EF;
        font-size: 25px;
        align-self: flex-end;
        cursor: pointer;
    }
}

/* Responsividade para telas muito pequenas */
@media (max-width: 480px) {
    .nav {
        width: 100vw;
    }

    nav a {
        font-size: 16px;
    }
}
