header {
    background-color: #F7F2EF;
    padding: 10px 20px;
}

header ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav a {
    font-weight: 600;
    color: #1E1E1E;
    font-size: 18px;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #F5BB19;
}

.mobile-menu {
    display: none;
    font-size: 25px;
    cursor: pointer;
    color: #1E1E1E;
}

/* Responsividade */
@media (max-width: 1024px) {
    nav a {
        font-size: 16px;
        margin: 0 10px;
    }
}

@media (max-width: 768px) {
    .mobile-menu {
        display: block;
    }

    .nav {
        background-color: #1E1E1E;
        display: none;
        flex-direction: column;
        height: 100%;
        padding: 20px;
        position: fixed;
        right: 0;
        top: 0;
        width: 60vw; /* Ajusta a largura para telas menores */
        z-index: 1000;
        box-shadow: -50vw 0px 0px 0px rgba(0, 0, 0, 0.75);
    }

    .nav.open {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        display: block;
    }

    nav a {
        border-bottom: 1px solid #333;
        color: #F7F2EF;
        font-size: 18px;
        margin: 10px 0;
        padding: 10px 0;
        width: 100%;
    }

    .close-btn {
        background: none;
        border: none;
        color: #F7F2EF;
        font-size: 25px;
        margin-bottom: 20px;
        cursor: pointer;
        align-self: flex-end;
    }
}

@media (max-width: 480px) {
    .nav {
        width: 80vw; /* Para telas extremamente pequenas */
    }

    nav a {
        font-size: 16px;
    }
}
