/* Logo no rodapé */
.footer-logo-col {
    max-width: 340px;
    width: 20vh;
    margin: 0 auto;
    text-align: center;
}

.footer-logo {
    max-width: 100%;
    height: auto;
    padding-right: 30px;
}

/* Coluna genérica no rodapé */
.footer-col {
    margin: 0 auto;
    max-width: 260px;
    width: 100%;
    text-align: center;
}

/* Lista dentro das colunas */
.footer-col ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.solucoes p{
    margin: 80px 0;
}

.footer-col li {
    margin-bottom: 16px;
}

/* Títulos e logo do rodapé */
footer h3 {
    margin: 40px 0;
    font-size: 1.25rem;
    margin-bottom: 16px;
    text-align: center;
}

/* Links e parágrafos no rodapé */
footer a,
footer p {
    font-size: 1rem;
    line-height: 1.5;
    color: #F7F2EF;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #F7F2EF;
    transition: color 0.3s;
}

footer a:hover {
    color: #F5BB19;
}

/* Links sociais */
.social-links {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social-links a img {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Área de direitos autorais */
.footer-copy {
    margin: 24px 0;
    text-align: center;
    font-size: 0.875rem;
}

/* Responsividade para tablets */
@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
        align-items: center;
    }

    .footer-col {
        margin: 16px 0;
        max-width: 100%;
        width: 100%;
        padding: 0 16px;
    }

    footer h3,
    footer a,
    footer p {
        font-size: 1rem;
    }

    .social-links a img {
        width: 20px;
        height: 20px;
    }

    .footer-copy {
        font-size: 0.75rem;
        margin: 16px 0;
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {
    .footer-logo-col {
        margin-bottom: 16px;
    }

    .footer-col {
        padding: 8px;
    }

    footer h3,
    footer a,
    footer p {
        font-size: 0.875rem;
    }

    .social-links a img {
        width: 18px;
        height: 18px;
    }

    .footer-copy {
        font-size: 0.75rem;
    }
}
