/* Logo no rodapé */
.footer-logo-col {
    max-width: 21.25rem; /* Usando rem para responsividade */
    width: 100%;
    margin: 0 auto; /* Centraliza em telas menores */
    text-align: center;
}

/* Coluna genérica no rodapé */
.footer-col {
    margin: 0 0 0 8.75rem; /* Usando rem para ajustabilidade */
    max-width: 16.25rem;
    width: 100%;
}

/* Lista dentro das colunas */
.footer-col ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-col li {
    margin: 0 0 1.5625rem 0; /* Usando rem para espaçamento */
}

/* Títulos e logo do rodapé */
footer h3,
.footer-logo {
    font-size: 1.5625rem; /* Usando rem */
    margin: 0 0 1.5625rem 0;
    text-align: center;
}

/* Links e parágrafos no rodapé */
footer a,
footer p {
    font-size: 1.125rem; /* Usando rem */
    margin: 0 0 1.5625rem; /* Ajuste de espaçamento */
    line-height: 1.5;
    color: #F7F2EF;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #F7F2EF;
    transition: color 0.3s;
}

footer a:hover {
    color: #F5BB19;
}

/* Links sociais */
footer .social-links a {
    margin: 1.5625rem 2.5rem 0 0; /* Usando rem */
    display: inline-block;
    font-size: 1.25rem; /* Usando rem */
    color: #F7F2EF;
    transition: color 0.3s;
}

footer .social-links a:hover {
    color: #F5BB19;
}

/* Área de direitos autorais */
.footer-copy {
    margin: 3.125rem 0;
    text-align: center;
    font-size: 1rem; /* Usando rem */
}

.footer-copy .langs-area {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Usando rem */
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-col {
        margin: 0;
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    .footer-logo-col {
        margin: 1.25rem 0;
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    footer h3,
    footer a,
    footer p {
        font-size: 1.125rem; /* Usando rem */
    }

    footer .social-links a {
        margin: 0.9375rem 1.25rem;
        font-size: 1.125rem;
    }

    .footer-copy {
        margin: 1.875rem 0;
        font-size: 0.875rem; /* Usando rem */
    }
}

@media (max-width: 480px) {
    .footer-col {
        margin: 0;
        padding: 0.625rem;
        text-align: center;
    }

    footer h3,
    footer a,
    footer p {
        font-size: 1rem; /* Usando rem */
    }

    footer .social-links a {
        margin: 0.625rem;
        font-size: 1rem; /* Usando rem */
    }

    .footer-copy {
        font-size: 0.75rem; /* Usando rem */
    }
}
