body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #f0f0f0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    min-height: 100vh;       /* Garantir que o conteúdo ocupe 100% da altura da tela */
    margin: 0;               /* Remove qualquer margem extra */
    padding: 0;              /* Remove qualquer padding extra */
}

.question {
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 20px;
    width: 90%;              /* Garante que a largura ocupe 90% da tela */
    max-width: 500px;        /* Limita a largura máxima a 500px */
    text-align: left;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    margin: 0 auto; /* Garante que o formulário seja centralizado */
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #333;
    color: #f0f0f0;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffa500;
    color: #121212;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #cc8400;
}

.income-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.agradecimento {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Garante que o conteúdo dentro de agradecimento seja centralizado */
    align-items: center; /* Garante que o conteúdo fique centralizado verticalmente */
    height: 100vh; /* Garante que ocupe a altura total da tela */
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.25rem;
    }

    input, button {
        font-size: 0.875rem;
        padding: 8px;
    }
}
