.sobre {
    background-color: #F7F2EF;
    width: 100%;
}

.titulo1 {
    color: #111514;
    font-size: 50px;
    padding-top: 50px; /* Ajustado para um pequeno espaço superior */
    margin: 0 auto;
    height: auto; /* Removido para evitar corte do título */
    width: 800px;
    text-align: center;
    z-index: 2; /* Garante que o título não seja sobreposto por outros elementos */
    position: relative; /* Para o z-index funcionar corretamente */
}

.equipe {
    justify-content: center;
    text-align: center;
    display: flex;
    padding-bottom: 50px;
}

.sobre-text1, .sobre-text2, .sobre-text4 {
    width: 900px;
    background-color: #111514;
    color: #F7F2EF;
    font-size: 20px;
    padding: 50px 20px;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 30px;
}

.sobre-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px;
    padding-right: 500px;
    padding-bottom: 100px;
}

.image-container {
    flex: 0 0 300px;
    max-width: 300px;
    padding-bottom: 100px;
}

.image-container img {
    width: 100%;
    object-fit: cover;
    padding-left: 440px;
    padding-bottom: 142px;
}

.sobre-text4 {
    z-index: 2;
    width: 900px;
    background-color: #111514;
    color: #F7F2EF;
    padding: 20px;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.button-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
