@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  width: 100%;
  padding: 0;
  font-family: "Montserrat", system-ui, sans-serif;
  background-color: #1E1E1E;
  color: #F7F2EF;
  box-sizing: border-box; /* Adicionado para uniformizar o cálculo de tamanhos */
}

a {
  text-decoration: none;
}

.primary-background {
  background-color: #F7F2EF;
}

.secundary-background {
  background-color: #1E1E1E;
}

.tertiary-background {
  background-color: #F5BB19;
}

.primary-color {
  color: #1E1E1E;
}

.secundary-color {
  color: #1E1E1E;
}

.tertuary-color {
  color: #F5BB19;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", system-ui, sans-serif;
  font-size: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 2.5px;
  font-weight: 400;
}

p {
  line-height: 150%;
}

.txt-center {
  text-align: center;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1240px;
  position: relative;
  padding: 0 20px; 
}

.full-width {
  width: 100%; /* Adiciona uma classe para elementos que devem ocupar toda a largura */
  margin: 0; /* Remove margens padrão */
}

.al-center {
  align-items: center;
}

.al-end {
  align-items: flex-end;
}

.d-flex {
  display: flex;
}

.fd-column {
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.jc-space-between {
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    max-width: 100%; /* Garante que em telas menores o container preencha tudo */
  }

  .mobile-fd-column {
    flex-direction: column;
  }
}
